body {
  border: 1px solid black;
  margin:0;}

h1 {
  border: 1px solid green;
  margin-top:0;}

p {
  border: 1px solid red;}

/****  DIVS  ****/

.Top-container {
  background-color: #E4F9F5;
      }
.Middle-container {
  background-color: green;
  width:200px;
  height:200px;}
.Bottom-container{
    background-color: orange;
    width:200px;
    height:200px;}
